CLOUD_AHOY_API_KEY=
CLOUD_AHOY_BASE_URL=https://api.cloudahoy.com
CLOUD_AHOY_WEB_BASE_URL=https://www.cloudahoy.com
CLOUD_AHOY_EMAIL=
CLOUD_AHOY_PASSWORD=
CLOUD_AHOY_FLIGHTS_URL=
CLOUD_AHOY_EXPORT_URL_TEMPLATE=
FLYSTO_API_KEY=
FLYSTO_BASE_URL=https://api.flysto.net
FLYSTO_WEB_BASE_URL=https://www.flysto.net
FLYSTO_EMAIL=
FLYSTO_PASSWORD=
FLYSTO_UPLOAD_URL=
MODE=web
BROWSER_HEADLESS=true
DRY_RUN=false
MAX_FLIGHTS=
