CLOUD_AHOY_BASE_URL=https://www.cloudahoy.com/api
CLOUD_AHOY_WEB_BASE_URL=https://www.cloudahoy.com
CLOUD_AHOY_EMAIL=
CLOUD_AHOY_PASSWORD=
CLOUD_AHOY_FLIGHTS_URL=
CLOUD_AHOY_EXPORT_URL_TEMPLATE=
CLOUD_AHOY_CSV_FORMAT=cloudahoy
FLYSTO_BASE_URL=https://www.flysto.net
FLYSTO_WEB_BASE_URL=https://www.flysto.net
FLYSTO_EMAIL=
FLYSTO_PASSWORD=
FLYSTO_UPLOAD_URL=
FLYSTO_SESSION_COOKIE=
FLYSTO_LOG_UPLOAD_URL=
FLYSTO_INCLUDE_METADATA=false
FLYSTO_API_VERSION=
MODE=auto
BROWSER_HEADLESS=true
DRY_RUN=false
MAX_FLIGHTS=
